@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
/* container */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#heading {
    font-size: 3.3rem;
    margin-bottom: 20px;
    text-decoration: underline;
}

.container > p:last-of-type {
    margin-bottom: 40px;
}

.form {
    background-color: #3f3f3f;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 4px;
}
.form label {
    font-size: 2.5rem;
}
.form input {
    margin-top: 20px;
}
#guessField {
    font-size: 1.5rem;
    width: 90%;
    padding: 7px 14px;
    border-radius: 5px;
    border: none;
}
.guessSubmit {
    padding: 10px 16px;
    background-color: #212121;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.resultParas {
    text-align: center;
    margin-top: 40px;
}
.resultParas p:nth-child(2) {
    margin-bottom: 20px;
}