@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.margin-global {
    text-align: center;
    margin: 1.5em;
}

/* container */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#heading {
    font-size: 2.5em;
    text-decoration: underline;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.15em;
}
form p input {
    padding: 5px;
    margin: 2px;
    border-radius: 6px;
}
form button {
    color: #212121;
    cursor: pointer;
    margin-top: 2em;
    padding: 10px 15px;
    font-size: 1.18em;
    font-weight: bold;
    border-radius: 10px;
}

#weight-guide { margin-top: 0; }
#weight-guide h3 {
    font-size: 1.6em;
    margin-bottom: 0.7em;
    text-decoration: underline;
}
#weight-guide p {
    font-size: 1.15em;
    margin-bottom: 0.2em;
}
