@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* container */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#heading {
    font-size: 3.2em;
    margin-bottom: 1em;
}

#clock {
    background-color: #2c2c2c;
    padding: 50px 65px;
    margin: 10px;
    border-radius: 35px;
    font-size: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}