.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: #b4b4b4;

    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;

    background-blend-mode: color;
    background-color: #00000085;
}

/* MAIN-CONTENT */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border: 0.5px solid #ffffff90;
    border-radius: 10px;
    background-color: #00000055;
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #00000020;
    border-radius: 10px;
    padding: 20px;
}
section .labels {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    width: 100%;
}
section .inputs {
    font-size: 1.2rem;
}

#btn-convert {
    width: 100%;
    font-size: 1.3rem;
    color: #fff;
    background-color: #285ae4;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    margin-top: 1rem;
}

#btn-swap {
    font-size: 1rem;
    color: #fff;
    background-color: #285ae4;
    border: 2px solid #fff;
    border-radius: 10px;
    padding:  10px 15px;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: -10px;
    z-index: 2;
}