.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    color: #979797;

    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;

    background-blend-mode: color;
    background-color: #00000085;
}

/* MAIN-CONTENT */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000055;
    padding: 3rem;
    width: 35rem;
    border: 0.5px solid #ffffff90;
    border-radius: 10px;
}

/* SECTION */

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 2px solid #00000020;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
}
section .labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.05rem;
    width: 100%;
}
section .inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.6rem;
}
section .inputs input {
    padding: 5px;
    margin-left: -5px;
    width: 40%;
    font-size: 1.005rem;
}
section .inputs select {
    background-color: #90909025;
    color: #000;
    font-size: 1.005rem;
    padding: 0.25rem;
    padding-right: 2rem;
    border-radius: 5px;
}
section .inputs select:focus {
    background-color: #90909050;
    color: #000;
    font-size: 1.005rem;
    padding: 0.25rem;
    padding-right: 2rem;
    border-radius: 5px;
}

/* BUTTONS */

#btn-convert {
    width: 100%;
    font-size: 1.3rem;
    color: #fff;
    background-color: #285ae4;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    margin-top: 1rem;
}

#btn-swap {
    font-size: 1.125rem;
    color: #fff;
    background-color: #285ae4;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 10px;
    padding:  0.5rem 0.75rem;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: -10px;
    z-index: 2;
}
