@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* container */

.container {
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.text {
    text-align: center;
    margin: 2em;
    width: 23em;
    font-size: 1.7em;
}

#heading {
    font-size: 2.5em;
}

.sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.color-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    width: 11em;
    height: 11em;
    font-size: 1.2em;
    background-color: #999999;
    margin: 0 16px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: 300ms ease;
}

.color-button:hover {
    transition: 300ms ease;
    transform: scale(1.15);
}


/* color-set */

#dark-charcoal {
    background-color: #212121;
    color: #fff;
}
#dry-sage {
    background-color: #ccd5ae;
    color: #212121;
}
#beige {
    background-color: #e9edc9;
    color: #212121;
}
#cornsilk {
    background-color: #fefae0;
    color: #212121;
}
#papaya-whip {
    background-color: #faedcd;
    color: #212121;
}
#light-bronze {
    background-color: #d4a373;
    color: #212121;
}



/* ================= RESPONSIVE FIX ================= */

/* Prevent horizontal overflow */
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Mobile devices */
@media (max-width: 600px) {

    .container {
        padding: 1rem;
    }

    .text {
        width: 90%;
        font-size: 1.3em;
        margin: 1.2em 0;
    }

    #heading {
        font-size: 2em;
    }

    .color-button {
        width: 8em;
        height: 8em;
        font-size: 1em;
        margin: 10px;
    }
}

/* Very small devices */
@media (max-width: 400px) {

    .color-button {
        width: 7em;
        height: 7em;
        font-size: 0.9em;
    }
}
