@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* container */

.container {
    background-color: #212121;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* stopwatch display */

#stopwatch {
    font-size: 10rem;
    font-family: system-ui, monospace;
    font-variant-numeric: tabular-nums;
}

/* buttons */

.btns button {
    cursor: pointer;
    background-color: #212121;
    color: #fff;
    border: 1px solid white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 5px;
    font-weight: bold;
    margin-bottom: 50px;
}
.btns button:hover {
    background-color: #fff;
    color: #212121;
}
.btns button:active {
    background-color: #fff;
    color: #212121;
    transform: translateY(2px); /* Simple press effect */
}
.btns button:disabled {
    cursor: default;
    background-color: #212121;
    color: #fff;
    transform: translateY(0); /* Simple press effect */
}

/* laps */

.laps {
    margin-top: 10px;
    max-height: 200px;     /* adjust as you like */
    overflow-y: auto;      /* vertical scrolling */
    position: relative;
    padding-top: 8px;
    scroll-behavior: smooth;
}
.laps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

.laps li {
    display: flex;
    gap: 50px;
    padding: 0 20px;
}
.laps li span {
    margin-right: 20px;
}

