@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
}

/* container */

.container {
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container #display {
    background-color: rgb(180, 180, 180);
    color: #212121;
    font-size: 50px;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
}

.btns {
    margin-right: 20px;
}
.btns button {
    background-color: rgb(180, 180, 180);
    color: #212121;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #212121;
    border-radius: 10px;
    cursor: pointer;
}