@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    text-align: center;
    background-color: #061e29;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

button {
    border: none;
}

.styleIt {
    background-color: #1d546d;
    color: #f3f4f4;
    border: 1px solid #061e29;
}

/* container */

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
}

.container #display {
    grid-column: 1 / -1; /* spans all 3 columns */
    font-size:90px;
    line-height:90px;
    padding: 30px 40px;
    margin: 10px;
    border-radius: 15px;
}

button {
    font-size: 1.3rem;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
